/* - // _BEGIN > ROOT CSS VARIABLES < CSS // - */
:root {
  /* FONTS */
  --font-primary: "Mouse Memoirs";
  --font-secondary: "Poppins";

  /* THEME COLORS */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-alpha: #7501ac;
  --color-bravo: #353535;

  /* LINK COLORS */
  --link-color: #7501ac;
  --link-hover: #ff2979;

  /* TEXT SELECTION COLORS */
  --select-text-foreground: #ffffff;
  --select-text-background: #000000;

  /* CUSTOM SCROLLBAR COLORS */
  --scrollbar-track: #e2e2e2;
  --scrollbar-thumb: #a2a2a2;
  --scrollbar-thumb-hover: #828282;
}

/* - // _ENDS > ROOT CSS VARIABLES < CSS // - */

/* - // _BEGIN > TYPOGRAPHY < CSS // - */
@font-face {
  font-family: "Mouse Memoirs";
  src: url("../fonts/MouseMemoirs-Regular.eot");
  src: url("../fonts/MouseMemoirs-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MouseMemoirs-Regular.woff2") format("woff2"),
    url("../fonts/MouseMemoirs-Regular.woff") format("woff"),
    url("../fonts/MouseMemoirs-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff") format("woff"),
    url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff"),
    url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff"),
    url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* - // _ENDS > TYPOGRAPHY < CSS // - */

/* - // _BEGIN > RESET DEFAULT STYLES < CSS // - */
* {
  outline: none !important;
}

*::after,
*::before,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.25;
  font-family: var(--font-primary);
  /* background-color: var(--color-white); */
  background-color: #FAF5FF;
}

/* - // _BEGIN > PSEUDO DEFAULT STYLES < CSS // - */
::-moz-focus-inner {
  border: 0 solid transparent;
}

::-webkit-focus-inner {
  border: 0 solid transparent;
}

*::-moz-selection {
  color: var(--select-text-foreground);
  background: var(--select-text-background);
}

*::selection {
  color: var(--select-text-foreground);
  background: var(--select-text-background);
}

*::-moz-selection {
  color: var(--select-text-foreground);
  background: var(--select-text-background);
}

*::-webkit-selection {
  color: var(--select-text-foreground);
  background: var(--select-text-background);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-cover {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.themcolor-1 {
  color: #3AC1CD !important;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.section-py{
  padding: 50px 0;
}
/* - // _ENDS > PSEUDO DEFAULT STYLES < CSS // - */

/* - // _BEGIN > TEXTS DEFAULT STYLING < CSS // - */
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: var(--font-primary);
  line-height: 115%;
  font-weight: bold;
  margin: 0 0 1rem;
}

body p {
  font-family: var(--font-secondary);
  color: var(--color-bravo);
  line-height: 170%;
  margin: 0 0 1rem;
  font-size: 26px;
  padding: 0;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

/* - // _ENDS > TEXTS DEFAULT STYLING < CSS // - */

/* - // _BEGIN > FORM CONTROL STYLES < CSS // - */
select,
button,
a[href],
label[for],
input[type="file"],
input[type="submit"],
input[type="button"],
input[type="image"],
.pointer {
  cursor: pointer;
}

input,
button,
select,
textarea {
  font-family: var(--font-secondary);
}

textarea,
.resize-none {
  resize: none;
}

button:focus,
.button:focus,
.form-control:focus,
.form-select:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

input[type="file"]::-moz-file-upload-button {
  cursor: pointer;
}

input[type="file"]::-ms-file-upload-button {
  cursor: pointer;
}

input[type="file"]::-o-file-upload-button {
  cursor: pointer;
}

/* - // _ENDS > FORM CONTROL STYLES < CSS // - */

/* - // _BEGIN > BUTTON STYLES < CSS // - */
.button {
  line-height: 1.35;
  color: var(--color-bravo);
  font-size: 1.125rem;
  font-weight: normal;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0.25rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* - // _ENDS > BUTTON STYLES < CSS // - */

/* - // _BEGIN > IMAGE STYLES < CSS // - */
img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.cover-image img,
.contain-image img,
.cover-image svg,
.contain-image svg,
.contain-image video,
.contain-image iframe {
  width: 100%;
  height: inherit;
  max-height: inherit;
  min-height: inherit;
}

.contain-image img,
.contain-image svg,
.contain-image video,
.contain-image iframe {
  -o-object-fit: contain;
  object-fit: contain;
}

.cover-image img,
.cover-image svg {
  -o-object-fit: cover;
  object-fit: cover;
}

/* - // _ENDS > IMAGE STYLES < CSS // - */

/* - // _BEGIN > CUSTOM SCROLL STYLES < CSS // - */
.vertical-scroll::-webkit-scrollbar {
  width: 6px;
}

.vertical-scroll::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.horizontal-scroll::-webkit-scrollbar {
  width: auto;
  height: 6px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  height: 6px;
}

.vertical-scroll::-webkit-scrollbar-thumb,
.horizontal-scroll::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}

.vertical-scroll::-webkit-scrollbar-thumb:hover,
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* - // _ENDS > CUSTOM SCROLL STYLES < CSS // - */

a {
  outline: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover);
}

a,
span,
button,
div a:hover,
div a:active,
div a:focus {
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.simple-list,
footer ul,
footer ol,
header ul,
header ol {
  font-family: var(--font-secondary);
  list-style: inside none none;
  margin: 0;
  padding: 0;
}

li:after,
ul:after,
.container:after {
  clear: both;
  display: block;
  content: "";
}

.container {
  width: 100%;
  /* max-width: 1632px; */
  padding: 0 12px;
  margin: 0 auto;
}

li {
  list-style: none;
}

.d-align-justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.active-page {
  color: #f8d224;
}

.d-align {
  display: flex;
  align-items: center;
}

.ms-auto {
  margin-left: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fank-section-title {
  font-weight: 400;
  font-size: 67px;
  line-height: 115%;
  color: #7701ae;
}

.fank-section-sub-title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
  color: #353535;
  margin-bottom: 0;
}

/* - // _ENDS > RESET DEFAULT STYLES < CSS // - */

/* - // _BEGIN > HEADER STYLES < BRJ // - */
header {
  padding: 18px 0;
  background-color: var(--color-alpha);
  box-shadow: 0px 4px 7px rgb(0 0 0 / 10%);
  position: sticky;
  top: 0;
  z-index: 40;
}

header ul {
  display: flex;
  align-items: center;
}

.header-menu-ul a {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  color: var(--color-white);
}

.header-menu-ul a:hover,
.header-menu-ul a:active,
.header-menu-ul a:focus,
.header-menu-ul a.active-page {
  color: #f8d224;
}

header ul li:not(:last-child) a {
  margin-right: 60px;
}

.header-logo {
  max-width: 250px;
}

.mobile-menu-wrap {
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  background: rgb(0, 126, 214);
  background: linear-gradient(0deg,
      rgba(0, 126, 214, 1) 0%,
      rgba(255, 165, 47, 1) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transform: translateX(-768px);
  padding: 50px 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 1s;
}

.mobile-menu-wrap-show {
  transform: translateX(0);
  transition: all 0.7s;
}

.mobile-menu-wrap li:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-wrap .close-ico {
  width: 30px;
  height: 30px;
  background-color: var(--color-white);
  color: var(--secondary-color);
  border-radius: 100%;
  position: relative;
  top: -30px;
  right: 0px;
  transition: all 0.3s;
}

.mobile-menu-wrap .close-ico:hover {
  background-color: var(--color-alpha);
}

.mobile-menu-wrap .close-ico:hover svg {
  fill: var(--color-white);
}

.mobile-menu-wrap li a {
  color: var(--color-white);
}

header.fixed {
  background-color: var(--color-black);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s;
}

/* - // _ENDS > HEADER STYLES < BRJ // - */

/* - // _BEGIN > FOOTER STYLES < CSS // - */
footer {
  background-color: var(--color-white);
  padding: 50px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.footer-row {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-gap: 50px;
}

.footer-left-col {
  width: 33.33%;
}

.footer-right-col {
  width: 66.66%;
  display: flex;
}

.footer-right-col .footer-col {
  width: calc(100% / 3);
}

.footer-col p {
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  color: var(--color-black);
  margin-top: 15px;
}

.footer-col h6 {
  font-weight: 600;
  font-size: 19px;
  color: var(--color-alpha);
  line-height: 34px;
  font-family: var(--font-secondary);
  margin-bottom: 30px;
  white-space: nowrap;
}

.footer-col .footer-link li a {
  color: var(--color-black);
  line-height: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-secondary);
  transition: all 0.5s;
}

.footer-col .footer-link li:not(:last-child) {
  padding-bottom: 15px;
}

.hover-text {
  transition: all 0.3s;
}

.hover-text:hover {
  color: var(--color-alpha) !important;
}

footer .social-links {
  grid-gap: 15px;
}

footer .social-links img {
  max-width: 35px;
}

/* /* - // _ENDS > SUB FOOTER STYLES < CSS // - */
.sub-footer-section {
  background-color: var(--color-alpha);
  padding: 35px 0;
}

.sub-footer-section h5 {
  color: var(--color-white);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  line-height: 30px;
  font-family: var(--font-secondary);
  margin-bottom: 30px;
}

.sub-footer-section p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #edc9ff;
  font-family: var(--font-secondary);
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

/* /* - // _ENDS > SUB FOOTER STYLES < CSS // - */
/* - // _ENDS > FOOTER STYLES < CSS // - */

/* - // _BEGIN > HERO SECTION STYLES < CSS // - */
.fank-hero-section {
  background: url("../images/backgrounds/hero-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fank-hero-wrapper {
  display: flex;
  align-items: center;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 16px;
  padding: 68px 0;
}

.fank-hero-cover img {
  max-width: 900px;
}

.fank-hero-content {
  display: flex;
  flex-direction: column;
}

.fank-hero-heading {
  font-weight: 400;
  font-size: 78px;
  line-height: 115%;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.fank-hero-heading span {
  color: #3ac1cd;
}

.fank-hero-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f2d5ff;
  margin-bottom: 65px;
}

.fank-download-button {
  padding: 18px;
  border-radius: 18px;
  background: linear-gradient(180deg, #f7b656 0%, #ffe279 100%);
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  color: #7701ae;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  border: none;
  transition: all 0.3s;
}

.fank-download-button:hover {
  background: linear-gradient(180deg, #00000061 0%, #000 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--color-white);
}

/* - // _ENDS > HERO SECTION STYLES < CSS // - */

/* - // _BEGIN > DOWNLOAD STATS SECTION STYLES < CSS // - */
.fank-download-stats-section {
  background: linear-gradient(180deg, #f7b656 0%, #ffe279 100%);
  --download-items-padding: 50px;
}

.fank-download-stats-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 0;
}

.fank-download-stats {
  display: flex;
  align-items: center;
  padding: 0 var(--download-items-padding);
  color: #7301a8;
  position: relative;
}

.fank-download-stats:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  height: 100%;
  width: 2px;
  background-color: #e0cb2a;
}

.fank-download-link-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #7301a8;
  padding-left: var(--download-items-padding);
}

.fank-download-flex-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 38px;
}

.download-stats-icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.download-stats-text,
.fank-download-link-group p {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
  color: #7301a8;
  font-family: var(--font-secondary);
  display: flex;
  flex-direction: column;
}

/* - // _ENDS > DOWNLOAD STATS SECTION STYLES < CSS // - */

/* - // _BEGIN > PLAY FANTASY SECTION STYLES < CSS // - */
.play-fantasy-section {
  background-color: #faf5ff;
  background-image: url(../images/backgrounds/service-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0 80px;
  min-height: 600px;
  padding: 80px 0;
}

.play-fantasy-section .fank-section-title {
  max-width: 500px;
  margin: 0 auto 15px;
}

.play-fantasy-section .fank-section-title span {
  color: #3ac1cd;
}

.play-fantasy-swiper-box {
  background-color: var(--color-white);
  height: 100%;
  border-radius: 58px;
  text-align: center;
}

.play-fantasy-img-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 5px #d7d3ea;
  border-radius: 58px 58px 0px 0px;
  height: 356px;
  transition: all 0.3s;
}

.play-fantasy-img-title {
  background-image: url(./../images/cover-images/service-img-1.webp);
}

.play-fantasy-img-classic {
  background-image: url(./../images/cover-images/service-img-2.webp);
}

.play-fantasy-img-popular {
  background-image: url(./../images/cover-images/service-img-3.webp);
}

.play-fantasy-img-crush-mode {
  background-image: url(./../images/cover-images/service-img-4.webp);
}

.play-fantasy-play-ico-box {
  height: 90px;
  width: 90px;
  background: #00000061;
  border-radius: 100%;
  transition: all 0.3s;
}

.play-fantasy-swiper-box:hover .play-fantasy-play-ico-box {
  background-color: var(--color-black);
}

.play-fantasy-swiper-box .play-fantasy-play-ico-box:hover {
  background-color: #353535;
}

.play-fantasy-swiper-description-box {
  padding: 20px 50px 35px;
  min-height: 245px;
}

.play-fantasy-title img {
  margin: 0 20px 0 0;
}

.play-fantasy-title h3 {
  font-weight: 600;
  font-size: 32px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  color: #543bc3;
  text-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
}

.play-fantasy-swiper-description-box p {
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-secondary);
  color: #212529;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.play-fantasy-swiper {
  margin-top: 60px;
}

.play-fantasy-ttile-crush-img {
  max-width: 62px;
}

/* - // _ENDS > PLAY FANTASY SECTION STYLES < CSS // - */

/* - // _BEGIN > HOW TO INSTALL SECTION STYLES < CSS // - */
.fank-installation-section {
  background: url("../images/backgrounds/install-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  position: relative;
}

.fank-installation-section .fank-section-title {
  text-align: center;
  margin-bottom: 12px;
}

.fank-installation-section .fank-section-title span {
  color: #4894ef;
}

.fank-installation-section .fank-section-sub-title {
  max-width: 900px;
  margin: 0 auto;
}

.fank-installation-steps-grid {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.fank-installation-steps-column {
  height: 100%;
}

.fank-installation-steps-card {
  background: linear-gradient(180deg, #f4e6ff 0%, #bff4ff 100%);
  border-radius: 24px;
  padding: 26px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.fank-installation-steps-numbering {
  display: flex;
  flex-direction: column;
}

.fank-installation-steps-digit {
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  text-align: center;
  color: #7417a0;
  margin-bottom: 13px;
}

.fank-installation-steps-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #4a1862;
  max-width: 232px;
  margin: 0 auto 12px;
}

.fank-installation-steps-info-card {
  background: #fdfdfd;
  border-radius: 18px;
  padding: 25px;
}

.fank-installation-steps-info-card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #353535;
  text-align: left;
  margin-bottom: 20px;
}

.fank-installation-steps-info-card p .break-all {
  word-break: break-all;
}

.fank-installation-action-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fank-installation-action-group>a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.35s;
  font-family: var(--font-secondary);
}

.fank-installation-action-group>a:hover,
.fank-installation-action-group>a:active {
  text-decoration: underline;
}

.fank-installation-action-group>a:nth-child(1) {
  margin-right: 30px;
  color: #e36b6b;
}

.fank-installation-action-group>a:nth-child(2) {
  color: #29e119;
}

/* - // _ENDS > HOW TO INSTALL SECTION STYLES < CSS // - */

/* - // _BEGIN > GREAT FEATURE SECTION STYLES < CSS // - */
.fank-feature-section {
  background: url("../images/backgrounds/feature-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 54px 0;
  position: relative;
}

.fank-feature-header {
  margin-bottom: 80px;
}

.fank-feature-section .fank-section-title {
  text-align: center;
}

.fank-feature-section .fank-section-sub-title {
  max-width: 900px;
  margin: 0 auto;
}

.fank-feature-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 68px;
  text-align: center;
}

.fank-feature-grid-column {
  display: flex;
  flex-direction: column;
}

.fank-feature-logo {
  width: 200px;
  height: 200px;
  border-radius: 210px;
  background-color: var(--color-white);
  color: #7701ae;
  position: relative;
  margin: 0 auto;
  z-index: 0;
  padding: 50px;
}

.fank-feature-logo:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255 255 255 / 50%);
  width: calc(100% + 50px);
  height: calc(100% + 50px);
  border-radius: calc(100% + 50px);
  z-index: -1;
}

.fank-feature-content {
  display: flex;
  flex-direction: column;
}

.fank-feature-title {
  font-weight: 600;
  font-size: 29px;
  line-height: 1.5;
  color: #7701ae;
  margin-top: 50px;
  margin-bottom: 9px;
  font-family: var(--font-secondary);
}

.fank-feature-details {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.47;
  text-align: center;
  color: #2c2400;
}

/* - // _ENDS > GREAT FEATURE SECTION STYLES < CSS // - */

/* - // _BEGIN > EVENTS SECTION STYLES < CSS // - */

/* - // _ENDS > EVENTS SECTION STYLES < CSS // - */

/* - // _BEGIN > FANTASY KHILADI SECTION STYLES < CSS // - */
/* - // _ENDS > FANTASY KHILADI SECTION STYLES < CSS // - */

/* - // _BEGIN > FAQ WITH PARTNER SECTION STYLES < CSS // - */
.fank-brand-section {
  background-color: var(--color-white);
  position: relative;
}

.fank-brand-section:before,
.fank-brand-section:after {
  -webkit-clip-path: polygon(0% 0%, 92.5% 0%, 100% 50%, 92.5% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 92.5% 0%, 100% 50%, 92.5% 100%, 0% 100%);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.fank-brand-section:before {
  width: 40%;
  background-color: #f3dcff;
  z-index: 0;
}

.fank-brand-section:after {
  width: calc(40% - 20px);
  background-color: #f8eaff;
  z-index: 1;
}

.fank-brand-flex-items {
  display: flex;
  align-items: center;
}

.fank-brand-flex-header {
  z-index: 2;
  padding: 24px 0;
}

.fank-brand-flex-header .fank-section-title span {
  color: #7701ae;
}

.fank-brand-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  z-index: 2;
  margin-left: auto;
}

.fank-brand-placeholder {
  width: 100%;
  max-width: 175px;
}

.fank-faq-section {
  background-color: #faf5ff;
  padding: 56px 0;
}

.fank-faq-section .fank-section-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}

.fank-brand-flex-header .fank-section-title,
.fank-faq-section .fank-section-title span {
  color: #00aef0;
}

.fank-accordion {
  background-color: var(--color-white);
  color: var(--color-black);
  cursor: pointer;
  padding: 18px 80px 18px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  transition: 0.4s;
  border-radius: 10px;
  position: relative;
}

.fank-accordion {
  border: 1px solid transparent;
  transition: all 0.3s;
}

.fank-accordion:hover {
  border-color: var(--color-alpha);
}

.fank-accordion-wrapper:not(:last-child) {
  margin-bottom: 16px;
}

.fank-accordion.active {
  border-radius: 10px 10px 0 0;
}

.fank-accordion:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill='%23697689' d='M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z' opacity='.4'%3E%3C/path%3E%3Cpath fill='%23697689' d='M12 15.01c-.19 0-.38-.07-.53-.22l-3.53-3.53a.754.754 0 010-1.06c.29-.29.77-.29 1.06 0l3 3 3-3c.29-.29.77-.29 1.06 0 .29.29.29.77 0 1.06l-3.53 3.53c-.15.15-.34.22-.53.22z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  right: 2%;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
  transition: all 0.35s;
}

.fank-accordion.active:after {
  transform: translateY(-50%) rotate(180deg);
  transition: all 0.35s;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
}

.fank-accordion.active+.panel {
  padding: 18px 18px;
  border-top: 1px solid #e6e6e6;
}

.panel .simple-list li {
  line-height: 2;
}

/* - // _ENDS > FAQ WITH PARTNER SECTION STYLES < CSS // - */
/* // _BEGIN PLAY FANTASY SECTION MODAL // */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 99;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--color-alpha);
  position: absolute;
  top: -40px;
  right: 0;
}

.close-button:hover {
  background-color: var(--color-black);
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.play-fantasy-modal .modal-content {
  max-width: 600px;
  width: 100%;
  height: auto;
}

.play-fantasy-modal-body {
  height: 400px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-none {
  display: none;
}
/* // END PLAY FANTASY SECTION MODAL // */


/* // _BEGIN > WHY WE LOVE FANTASY KHILADI < CSS */
.why-we-love-fantasy-khildai-section {
  background-color: #faf5ff;
  background-image: url(../images/backgrounds/ribin-cover.png);
  padding: 80px 0;
}

.why-we-love-fantasy-khildai-section .fank-section-title span {
  color: #3ac1cd;
}

.why-we-love-fantasy-khildai-review-wrap .swiper-container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

/* .why-we-love-fantasy-khildai-review-wrap .swiper-container > .swiper-slide__content {
  position:absolute;
  top:0;
} */
.why-we-love-fantasy-khildai-review-wrap .swiper-slide {
  transition: all 200ms linear;
  transform: scale(0.8);
}

.quote-container {
  min-height: 450px;
  position: relative;
  background: linear-gradient(180deg, #FFFFFF 0%, #F6EAFF 100%);
  box-shadow: rgb(17 17 26 / 10%) 0px 0px 0px, rgb(17 17 26 / 10%) 0px 8px 18px, rgb(17 17 26 / 10%) 0px 16px 28px;
  height: auto;
  overflow: hidden;
  border: 0px;
  border-radius: 25px;
  text-align: center;
  margin: 0 0 40px;
  padding: 30px 18px;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.why-we-love-fantasy-khildai-review-wrap .swiper-slide-active .quote-container {
  border-color: var(--color-alpha);
}

.quote-container:hover {
  border-color: var(--color-black);
}

.quote-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../images/cover-images/shedow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.why-we-love-fantasy-khildai-review-wrap .swiper-slide-active {
  transform: scale(1);
  /* background: #fc0; */
}

.position-relative {
  position: relative;
}

.mx-auto {
  margin: 0 auto;
}

.quote-container h5 {
  color: #7401AA;
  font-size: 28px;
  font-weight: 600;
  font-family: var(--font-secondary);
  text-align: center;
  margin-top: 15px;
}

.quote-container h6 {
  color: #242324;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-secondary);
  margin-bottom: 10px;
}

.quote-container-winner-wrap {
  background-image: url(../images/cover-images/green_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 52px 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}

.quote-container-winner-wrap h4 {
  font-size: 27px;
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

.quote-container p {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  padding: 0 20px;
  line-height: 27px;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
}

.why-we-love-fk-review .swiper-arrow {
  width: 60px;
  height: 60px;
  background-color: var(--color-white);
  border-radius: 100%;
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s;
}

.why-we-love-fk-review .swiper-arrow:hover {
  background-color: var(--color-alpha);
}

.why-we-love-fk-review .swiper-arrow:hover svg {
  fill: var(--color-white);
}

.why-we-love-fk-review .swiper-arrow::after {
  display: none;
}

.why-we-love-fk-review .swiper-arrow svg {
  width: 40px;
  height: 40px;
}

/* .why-we-love-fantasy-khildai-review-wrap .swiper-slide__content {
  height: 300px;
} */
/* // _ENDS > WHY WE LOVE FANTASY KHILADI < CSS --> */
/* _BEGIN > ABOUT US PAGE STYLES < CSS */
.fank-about-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}

.fank-about-content {
  width: 100%;
  max-width: calc(58.33% - 16px);
}

.fank-about-app-image {
  width: 100%;
  max-width: calc(41.666667% - 16px);
}

.fank-about-content h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.18;
  color: var(--color-bravo);
  font-family: var(--font-secondary);
  text-align: left;
  margin-bottom: 24px;
}

.fank-about-content h1 span {
  color: #7701AE;
}

.fank-about-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

.fank-about-content p:not(:last-child) {
  margin-bottom: 32px;
}

.fank-about-content a {
  color: #007bff;
}

.fank-about-content a:hover {
  color: #0056b3;
}



.fank-amazing-feature-section {
  background-color: #e6edf7;
  margin-top: 48px;
  padding: 115px 0 120px;
}

.fank-amazing-feature-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.fank-amazing-header {
  margin-bottom: 64px;
}

.fank-amazing-header h2 {
  margin-bottom: 0;
}


.fank-amazing-feature-card {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 40px 30px;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.fank-amazing-feature-bubble {
  width: 150px;
  height: 150px;
  background-color: #9e1bdf;
  /* background-color: rgb(158 27 223 / 50%); */
  border-radius: 200px;
  position: absolute;
  top: -75px;
  right: -75px;
  border: 5px solid #504f93;
  z-index: 1;
  transition: all .6s ease-in-out;
  opacity: .5;
}

.fank-amazing-feature-card:hover .fank-amazing-feature-bubble {
  transform: scale(10);
  transition: all .9s ease-in-out;
}

.fank-amazing-feature-content-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}

.fank-amazing-feature-icon-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: var(--color-alpha);
  transition: all .9s ease-in-out;
}

.fank-amazing-feature-card:hover .fank-amazing-feature-icon-wrapper {
  background-color: var(--color-white);
  transition: all .6s ease-in-out;
}

.fank-amazing-feature-icon {
  padding: 20%;
  color: var(--color-white);
  transition: all .9s ease-in-out;
}

.fank-amazing-feature-card:hover .fank-amazing-feature-icon {
  transition: all .6s ease-in-out;
  color: var(--color-alpha);
}

.fank-amazing-feature-title {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin: 26px 0 16px;
}

.fank-amazing-feature-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  transition: all .9s ease-in-out;
}

.fank-amazing-feature-card:hover .fank-amazing-feature-text {
  transition: all .6s ease-in-out;
  color: var(--color-white);
}


/* _ENDS > ABOUT US PAGE STYLES < CSS */
/* _BEGIN > CONTACT US PAGE STYLES < CSS */
.fank-contact-us-section {
  --con-sec-gutter-space: 15px;
  background-color: #eee;
  padding: 100px 0;
}

.fank-contact-row {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.fank-contact-details {
  width: 100%;
  max-width: calc(58.33% - var(--con-sec-gutter-space));
  margin-right: var(--con-sec-gutter-space);
}

.fank-contact-map {
  width: 100%;
  max-width: calc(41.666667% - var(--con-sec-gutter-space));
  margin-left: var(--con-sec-gutter-space);
}

.fank-contact-card {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  padding: 50px 0 30px 30px;
  border-radius: 20px 0 0 20px;
  box-shadow: 20px 22px 44px #cccc;
  position: relative;
  display: flex;
  /* align-items: center; */
}

.break-all {
  word-break: break-all;
}

.fank-contact-card::before {
  background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%);
  content: "";
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.fank-contact-form,
.fank-contact-link-wrapper {
  width: 100%;
  max-width: 47%;
}

.fank-contact-form-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.fank-contact-form-header h1 {
  color: var(--color-alpha);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.2;
}

.fank-contact-form-header p {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.fank-contact-form-container {
  width: 100%;
}

.fank-contact-form-row {
  margin-bottom: 16px;
}

.form-input-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #495057;
  background-color: var(--color-white);
  resize: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-input-control:focus {
  outline: 0;
  box-shadow: none;
  color: var(--color-bravo);
  background-color: var(--color-white);
  border-color: var(--color-alpha);
}

.fank-contact-form-submission {
  background: linear-gradient(to top right, #1325e8, #8f10b7, #1325e8, #8f10b7);
  border: none;
  color: var(--color-white);
  padding: 12px 15px;
  width: 100%;
  border-radius: 35px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 25px;

  background-size: 100% 300%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.fank-contact-form-submission:hover {
  /* background: linear-gradient(to top right, #1325e8 -5%, #8f10b7 100%); */
  background-position: 0 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.fank-contact-link-wrapper {
  width: 50%;
  position: absolute;
  background-color: #2d2d2d;
  right: 1px;
  top: 50%;
  padding: 40px;
  border-radius: 25px 0 0 25px;
  color: #fff;
  transform: translateY(-50%);
}

.fank-contact-link-wrapper h2 {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  margin-bottom: 24px;
}



.fank-contact-link-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* .fank-contact-link-list .fank-contact-link-list-item:not(:last-child) {
  margin-bottom: 20px;
} */
.fank-contact-link-list .fank-contact-link-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.fank-contact-link {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.fank-contact-link:hover {
  color: var(--color-white);
}

.fank-contact-link-icon {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.fank-contact-link-text {
  display: inline-block;
  color: #4894ef;
}

.text-white {
  color: var(--color-white);
}

.fank-follow-social {
  margin-top: 35px;
}

.fank-follow-social p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1;
  margin-bottom: 16px;
}

.fank-follow-social-link-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fank-follow-social-link {
  width: 40px;
  height: 40px;
  color: var(--color-bravo);
  transition: all .35s ease-in-out;
}

.fank-follow-social-link:hover {
  color: var(--color-alpha);
  transform: scale(1.1);
  transition: all .35s ease-in-out;
}

.fank-contact-map h4 {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
  font-family: var(--font-secondary);
  color: var(--color-alpha);
}

.map_bind {
  width: 100%;
  height: 92%;
}
.map_bind iframe{
  border-radius: 20px 0;
}
.rng-certificate-section p{
  font-size: 18px;
}
.rng-certificate-section h3{
  font-family: var(--font-primary);
  font-size: 28px;
  font-weight: 500;
}
.game-feature-row{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  align-items: center;
}
.game-feature-col {
  width: calc(100% / 3);
}
.game-feature-col h4{
  font-size: 24px;
  font-weight: 600;
  color: #212529;
  font-family: var(--font-secondary);
  margin-bottom: 10px;
}
.game-feature-col p{
  font-size: 16px;
  font-weight: 400;
  color: #212529;
  font-family: var(--font-secondary);
  margin-bottom: 0;
}
.game-feature-col li{
  list-style: disc;
  transition: all 0.3s;
}
.game-feature-col li:hover h4{
  color: var(--color-alpha);
}
.game-feature-col li:not(:last-child){
  margin-bottom: 20px;
}
.game-feature-img-wrap img{
  position: relative;
  left: 40px;
}
.all-policy-details-wrap{
  margin-top: 30px;
}
.all-policy-details-wrap h3{
  font-size: 28px;
  font-weight: var(--font-secondary);
}
.all-policy-details-wrap p,.all-policy-details-wrap li,.all-policy-details-wrap span{
  font-size: 16px;
}
.all-policy-details-wrap li{
  list-style: disc;
  font-family: var(--font-secondary);
}
.all-policy-details-wrap li:not(:last-child){
  margin-bottom: 15px;
}
span.policy-icon{
  padding-right: 8px;
  font-size: 26px;
  font-weight: 500;
  color: var(--color-alpha);
}
.terms-box {
  background-color: rgb(143 143 143 / 10%);
  padding: 20px;
}
/* _ENDS > CONTACT US PAGE STYLES < CSS */